*{
	color:red;
}
height: vh;

width: 100VW;
{
display: inline-block;





	font-family: lobster;

.caja1{
	width: 200px;
height: 200px;



}
.caja2{
width: 200px;
height: 200px;
}

}


